<!DOCTYPE html>
<html>
  <head>
    <title>House Dekho</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <nav>
      <div class="logo">
        <p>HouseDekho</p>
      </div>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">House</a></li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="image">
      <img src="https://cdn.pixabay.com/photo/2016/06/24/10/47/house-1477041_960_720.jpg">

    </div>

  </body>
</html>
